# dependencies
front/build/
front/node_modules/
server/db/*.json
server/node_modules/
server/src/core/libsnark/js-libsnark-opt/node_modules/
server/src/core/libsnark/js-libsnark-opt/libsnark/
contract/node_modules/
contract/build/
contract/package-lock.json
contract/contracts/artifacts/
contract/keys.json
crs/*.json
crs/*.dat
/.pnp
.pnp.js
node_modules
.DS_Store
server/.DS_Store
server/src/.DS_Store
server/fileDb/*


*.dat
*.dylib
*_backup.js
*_backup.sql
